@import '../../../styles/global-styles.scss';

.shoppingCartWrapper {
  background: $white;
  border-radius: 10px;
  width: 350px;
  box-shadow: 10px 10px 10px $light-gray-blue, -10px 10px 10px $light-gray-blue;
  position: absolute;
  right: 125px;
  top: 70px;

  @include phone {
    width: 90%;
    right: 5%;
    top: 90px;
    box-shadow: 0px 20px 52px 8px rgba(0, 0, 0, 0.5);
  }

  h5 {
    font-size: 1.2rem;
    padding: 1rem 1rem 0.6rem 1rem;
    border-bottom: 2px solid $light-gray-blue;
    margin-bottom: 0.6rem;
  }

  .shoppingCart {
    width: 100%;
    padding: 1rem 1rem 0.6rem 1rem;

    .shoppingCartItem {
      color: $dark-gray-blue;
      display: grid;
      grid-template-areas:
        'thumbnail product-name delete'
        'thumbnail product-price delete';

      button {
        grid-area: delete;
        background-color: transparent;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      figure {
        grid-area: thumbnail;
        img {
          border-radius: 5px;
          width: 60px;
          height: 60px;
        }
      }

      .productName {
        grid: product-name;
      }

      .productPrice {
        grid-area: product-price;
      }
    }

    .checkoutButton {
      width: 100%;
      background-color: $bright-orange;
      color: $white;
      border: none;
      border-radius: $button-border-radius;
      box-shadow: 0px 5px 3px $pale-orange;
      font-weight: 700;
      padding: $unit * 0.75 $unit * 1.5;
      margin: 2.5rem 0 0.5rem;

      &:hover {
        opacity: 0.75;
        cursor: pointer;
      }
    }
  }

  .emptyCart {
    padding: 2rem 1rem 3rem 1rem;
    font-weight: bold;
    color: $dark-gray-blue;
    text-align: center;
  }
}
