@import '../../../styles/global-styles.scss';

.product {
  display: flex;
  padding: 4 * $unit 10 * $unit 0;
  gap: 10 * $unit;
  align-items: center;

  @include phone {
    flex-direction: column;
    padding: 0;
    gap: $unit 0;

    &:first-child {
      width: 100%;
    }
  }
}
