@import '../../../styles/global-styles.scss';

.modal {
  z-index: 2;
  position: absolute;
  top: 70px;
  left: calc(50% - 250px);

  .focusImage {
    img {
      height: 500px;
      border-radius: $button-border-radius;
    }
  }

  .thumbnailWrapper {
    display: flex;
    justify-content: space-around;
    gap: $unit;
    margin-top: $unit;

    .thumbnailImage {
      position: relative;
      border-radius: $button-border-radius;

      &:hover {
        outline: 2px solid $bright-orange;
      }

      .thumbnailOverlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: $button-border-radius;
        width: 90px;
        height: 90px;
        background: $white;
      }

      img {
        width: 90px;
        height: 90px;
        border-radius: $button-border-radius;

        &:hover {
          cursor: pointer;
          opacity: 60%;
        }
      }
    }
  }

  .arrow,
  .closeButton {
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 100%;
    width: 3 * $unit;
    height: 3 * $unit;
    top: 250px;
  }

  .nextArrow {
    right: -1.5 * $unit;
  }

  .prevArrow {
    left: -1.5 * $unit;
  }

  .closeButton {
    right: 0;
    top: -2 * $unit;
  }
}
