@import '../../../styles/global-styles.scss';

.addProduct {
  display: flex;
  justify-content: space-between;

  @include phone {
    flex-direction: column;
  }
}

.selectProductQuantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $light-gray-blue;
  font-weight: 700;
  border-radius: $button-border-radius;
  padding: 0.5 * $unit $unit;
  width: 35%;

  @include phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5 * $unit 4 * $unit;
  }

  button {
    background: none;
    color: $bright-orange;
    font-size: calc($unit * 1.5);

    &:hover {
      cursor: pointer;
    }
  }

  span {
    padding: 0 $unit;
  }
}

.addButtonShoppingCart {
  button {
    background: $bright-orange;
    border: none;
    border-radius: $button-border-radius;
    color: $white;
    box-shadow: 0px 26px 45px -17px rgba(255, 125, 26, 0.43);
    font-weight: 700;
    padding: $unit $unit * 1.5;

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }

    svg {
      margin-right: $unit;
    }

    @include phone {
      margin-top: 2 * $unit;
      width: 100%;
    }
  }
}
